

*{
    margin: 0;
    padding: 0;
    font-family: 'Italianno', cursive;
}
/* --------navbar------ */
.nav-header a{
    font-size: 50px;
    font-weight: bold;
}
.hedader-nav .nav-item .nav-link{
    color: #333 !important;
    font-size: 30px;
    font-weight: 500;
    margin-right: 15px;
    padding: 5px 6px;
    transition: 0.5s  ease all;
}
.hedader-nav .nav-item .nav-link:hover{
    outline: 2px solid blue;
    border-radius: 5px;
}

/* ----- banner----- */

.banner{
    background: url('img/pexels-caio-56759.jpg')no-repeat center center;
    background-size: cover;
    min-height: 80vh;
    height: auto;
    position: relative;
    z-index:1;
    width: 100%;
}
.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(0,0,0,0.6);
}


.banner-img .img{
    height: 33rem;
}
.banner .text{
    color: #fff;
    font-size: 30px;
    line-height: 0.5in;
    margin-top: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* --------about------ */

#about .img{
    width: 100%;
    height: 15em;
    margin-top: 20px;
}
#about .text{
    font-family: 'Times New Roman', Times, serif;
    color: #333;
  
}
#about .text:hover{
    color: gold;
}
#story{
    background: linear-gradient(to left,#5a4b,#54a4);
}
.story h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  
}




#story .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}





#story .container .card{
    position: relative;
    width: 220px;
    height: 250px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}


#story .container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
    

}
#story .container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
#story .container .card .percent svg circle{
        width: 100%;
        height: 100%;
        fill: transparent;
        stroke-width: 2;
        stroke: #191919;
        transform: translate(5px, 5px);
}
#story .container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    opacity: 0;
   

}
@keyframes fadeIn
{
    0%{
            opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);

}

.number{
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    opacity: 0;
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}
.number h2 span{
     font-weight: 300;
     color: #fff;
     font-size: 0.5em;
}
.number p{
    font-weight: 300;
    color: rgba(255,255,255,0.75);
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* -------------servise-------- */


/* ------------mail------------ */

.log{
    min-height: 50vh;
    background:url('img/pexels-photomix-company-230544.jpg') no-repeat center center;
    width: 100%;
    position: relative;
    z-index: 5;
    height: auto;
}
.log::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.log-header{
    padding: 100px 0;
    color: #fafafa;
    font-weight: 500;
    text-align: center;
}
.log .row .btn{
    min-width: 150px;
}
.log .row h5, h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    
}


/* -----------------footer----------- */

.footer .container .row a .fa-brands{
    font-size: 30px;
    color: #fff;
    padding-left: 15px;
}
.footer .container .row p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 10px;
}